<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/header.ejs') %> 
</head>
<body>
    <form action="/" method="POST">
        Name:<br> <input type="text" name="name"><br>
        Image:<br> <input type="img" name="img"><br>
        Type:<br> <input type="text" name="type"><br>
        <input type="text" name="type"><br>
        HP:<br> <input type="number" name="hp"><br>
        Name:<br> <input type="number" name="attack"><br>
        Name:<br> <input type="number" name="defense"><br>
        Name:<br> <input type="number" name="spattack"><br>
        Name:<br> <input type="number" name="spdefense"><br>
        Name:<br> <input type="number" name="speed"><br>
    </form>
</body>
</html>